@page "/add-bill"
@using Unidecode.NET
@inherits AddBillBase
@attribute [Authorize]

<MudText Typo="Typo.h3" Class="mb-4">@(bill.Id != 0 ? "Sửa" : "Thêm") hóa đơn</MudText>

<EditForm Model="@bill" OnValidSubmit="HandleValidSubmit" FormName="addBillForm">
    <DataAnnotationsValidator />

    <MudGrid>
        <MudItem xs="7">
            <MudItem xs="12">
                <MudGrid Class="mb-3">
                    <MudItem xs="4">
                        <MudTextField @bind-Value="searchText" Label="Tìm kiếm tác phẩm" />
                    </MudItem>
                    <MudItem xs="8">
                        <MudSelect T="int" @bind-Value="selectedBookSaleId" Label="Tác phẩm">
                            <MudSelectItem Value="0">-- Chọn tác phẩm --</MudSelectItem>
                            @foreach (var booksale in bookSales
                            .Where(a => string.IsNullOrEmpty(searchText) || a.Title.Unidecode().Contains(searchText.Unidecode(), StringComparison.OrdinalIgnoreCase)))
                            {
                                <MudSelectItem Value="@booksale.Id">@booksale.Title</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </MudGrid>
            </MudItem>

            <MudTextField @bind-Value="quantity" Label="Số lượng" Disabled="@(selectedBookSaleId == 0)" Class="mb-3" />

            <MudCheckBox Label="Giảm giá 10%" LabelPosition="LabelPosition.Start" @bind-Value="isDiscountApplied" Class="mt-3" />

            <MudButton Class="mb-3" @onclick="AddBookToBill" Variant="Variant.Filled" Color="Color.Success" Disabled="@(selectedBookSaleId == 0)">
                Thêm sách
            </MudButton>

            @if (!string.IsNullOrEmpty(ValidationMessage))
            {
                <div class="alert alert-danger">@ValidationMessage</div>
            }

        </MudItem>

        <MudItem MudItem xs="5">
            <MudItem>
                <MudText Typo="Typo.h5" class="mt-4">Chi tiết hóa đơn</MudText>
                <MudList T="string" Class="mb-3">
                    @foreach (var detail in bill.BillDetails)
                    {
                        <MudListItem>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <MudText>
                                    @detail?.BookSale?.Title - Số lượng: @detail?.Quantity.ToString("n0") - Giá: @detail?.Price.ToString("c0")
                                </MudText>
                                <MudButton Color="Color.Error"
                                           Size="Size.Small"
                                           OnClick="(() => RemoveBookFromBill(detail!))">
                                    Xóa
                                </MudButton>
                            </div>
                        </MudListItem>
                    }
                </MudList>
            </MudItem>

            <MudText Typo="Typo.h6"><strong>Tổng tiền:</strong> @totalPriceWithDiscount.ToString("c0")</MudText>

            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="my-5" Disabled="@(bill.BillDetails.Count() == 0)">
                Tạo hóa đơn
            </MudButton>

        </MudItem>
    </MudGrid>
</EditForm>
