@page "/add-booksale"
@using Unidecode.NET
@inherits AddBookSaleBase
@attribute [Authorize(Roles = "Admin,Staff")]

<MudText Typo="Typo.h3" Class="mb-4">@(IsView ? "Xem" : (bookSale.Id != 0 ? "Sửa" : "Thêm")) Sách</MudText>

<EditForm Model="bookSale" OnValidSubmit="HandleValidSubmit" FormName="addBookSaleForm">
    <DataAnnotationsValidator />

    <MudGrid>
        <MudItem xs="4">
            @if (!IsView)
            {
                <div class="d-flex">
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".png, .jpg" FilesChanged="UploadFiles" MaximumFileCount="4" Class="mb-3">
                        <ActivatorContent>
                            <MudFab Color="Color.Secondary"
                                    StartIcon="@Icons.Material.Filled.Image"
                                    Label="Tải ảnh lên"
                                    Size="Size.Small"
                                    Class="me-5" />
                        </ActivatorContent>
                    </MudFileUpload>
                </div>
            }

            @if (imagePreviews.Count > 0)
            {
                <MudPaper Class="d-flex justify-content-center align-items-center">
                    <div class="position-relative">
                        <MudImage ObjectFit="ObjectFit.Contain"
                                  Src="@(imagePreviews[0])"
                                  Height="@(IsView ? 245 : 200)"
                                  Width="375"
                                  Alt="Booksale"
                                  Elevation="25"
                                  Class="rounded-lg my-2" />
                        @if (!IsView)
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                           OnClick="@(() => RemoveImage(0))"
                                           Color="Color.Error"
                                           Size="Size.Small"
                                           Class="position-absolute top-0 end-0" />
                        }
                    </div>
                </MudPaper>

                <div class="d-flex justify-content-center mt-1">
                    @foreach (var image in imagePreviews.Skip(1).Select((img, idx) => new { img, idx }))
                    {
                        <MudPaper Class="m-1">
                            <div class="position-relative">
                                <MudImage ObjectFit="ObjectFit.Contain"
                                          Src="@image.img"
                                          Height="100"
                                          Alt="Booksale"
                                          Elevation="25"
                                          Class="rounded-lg" />
                                @if (!IsView)
                                {
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                   OnClick="@(() => RemoveImage(image.idx+1))"
                                                   Color="Color.Error"
                                                   Size="Size.Small"
                                                   Class="position-absolute top-0 end-0"/>
                                }
                            </div>

                        </MudPaper>
                    }
                </div>
            }
            else
            {
                <MudPaper>
                    <MudText Class="p-3 text-center">Không có hình ảnh nào để hiển thị.</MudText>
                </MudPaper>
            }


        </MudItem>

        <MudItem xs="8">
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField @bind-Value="bookSale.Title" Label="Tên sách" ReadOnly="IsView" />
                </MudItem>

                <MudItem xs="12">
                    <MudNumericField @bind-Value="bookSale.Quantity" Label="Số lượng" ReadOnly="IsView" />
                </MudItem>

                <MudItem xs="12">
                    <MudNumericField @bind-Value="bookSale.Price" Label="Giá" ReadOnly="IsView" />
                </MudItem>

                <MudItem xs="12">
                    <MudGrid>
                        @if (!IsView)
                        {
                            <MudItem xs="4">
                                <MudTextField @bind-Value="searchText" Label="Tìm kiếm tác giả" ReadOnly="IsView" />
                            </MudItem>
                        }
                        <MudItem xs="8">
                            <MudSelect T="int" @bind-Value="bookSale.AuthorId" Label="Tác giả" ReadOnly="IsView">
                                <MudSelectItem Value="0">-- Chọn tác giả --</MudSelectItem>
                                @foreach (var author in authors
                                .Where(a => string.IsNullOrEmpty(searchText) || a.AuthorName.Unidecode().Contains(searchText.Unidecode(), StringComparison.OrdinalIgnoreCase)))
                                {
                                    <MudSelectItem Value="@author.Id">@author.AuthorName</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12">
            <MudItem xs="12">
                @if (IsView)
                {
                    @((MarkupString)bookSale.Description)
                }
                else
                {
                    <Editor Field="() => bookSale.Description"
                            @bind-Value="@bookSale.Description" />
                }
            </MudItem>

        </MudItem>

        <MudItem xs="12">
            @if (!IsView && !IsView)
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Class="w-100" Variant="Variant.Filled">
                    Hoàn tất
                </MudButton>
            }
        </MudItem>

        <MudItem xs="12">
            <ValidationMessage For="@(() => bookSale.Title)" class="alert alert-danger" />
            <ValidationMessage For="@(() => bookSale.Quantity)" class="alert alert-danger" />
            <ValidationMessage For="@(() => bookSale.Price)" class="alert alert-danger" />
            <ValidationMessage For="@(() => bookSale.AuthorId)" class="alert alert-danger" />
            <ValidationMessage For="@(() => bookSale.ImgUrl)" class="alert alert-danger" />
            <ValidationMessage For="@(() => bookSale.Description)" class="alert alert-danger" />
        </MudItem>
    </MudGrid>
</EditForm>
