@page "/add-booksale"
@page "/booksales/{Id:int}"
@inherits AddBookSaleBase
@attribute [Authorize(Roles = "Admin,Staff")]

<h1>@(bookSale.Id != 0 ? "Sửa" : "Thêm") Sách</h1>

@if (!string.IsNullOrEmpty(errorMessage))

{
    <div class="alert alert-danger">@errorMessage</div>
}

<EditForm Model="bookSale" OnValidSubmit="HandleValidSubmit" FormName="addBookSaleForm">
    <DataAnnotationsValidator />

    <ValidationMessage For="@(() => bookSale.Title)" class="alert alert-danger" />
    <ValidationMessage For="@(() => bookSale.Quantity)" class="alert alert-danger" />
    <ValidationMessage For="@(() => bookSale.Price)" class="alert alert-danger" />
    <ValidationMessage For="@(() => bookSale.AuthorId)" class="alert alert-danger" />

    <div class="form-group row mb-3">
        <label for="txtTitle" class="col-sm-2 col-form-label">Tên sách</label>
        <div class="col-sm-10">
            <InputText class="form-control" id="txtTitle" placeholder="Tên sách" @bind-Value="bookSale.Title" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="txtQuantity" class="col-sm-2 col-form-label">Số lượng</label>
        <div class="col-sm-10">
            <InputNumber class="form-control" id="txtQuantity" placeholder="Số lượng" @bind-Value="bookSale.Quantity" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="txtPrice" class="col-sm-2 col-form-label">Giá</label>
        <div class="col-sm-10">
            <InputNumber class="form-control" id="txtPrice" placeholder="Giá" @bind-Value="bookSale.Price" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="selectAuthor" class="col-sm-2 col-form-label">Tác giả</label>
        <div class="col-sm-10">
            <select id="selectAuthor" class="form-select" @bind="bookSale.AuthorId">
                <option value="">-- Chọn tác giả --</option>
                @foreach (var author in authors)
                {
                    <option value="@author.Id">@author.AuthorName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary w-25" value="Hoàn tất" />
        </div>
    </div>
</EditForm>
