@page "/add-booksale"
@page "/booksales/{Id:int}"
@using Unidecode.NET
@inherits AddBookSaleBase
@attribute [Authorize(Roles = "Admin,Staff")]


<h1>@(bookSale.Id != 0 ? "Sửa" : "Thêm") Sách</h1>

<EditForm Model="bookSale" OnValidSubmit="HandleValidSubmit" FormName="addBookSaleForm">
    <DataAnnotationsValidator />

    <MudGrid>
        <MudItem xs="12">
            <MudTextField @bind-Value="bookSale.Title" Label="Tên sách" />
        </MudItem>

        <MudItem xs="12">
            <MudNumericField @bind-Value="bookSale.Quantity" Label="Số lượng" />
        </MudItem>

        <MudItem xs="12">
            <MudNumericField @bind-Value="bookSale.Price" Label="Giá" />
        </MudItem>

        <MudItem xs="12">
            <MudGrid>
                <MudItem xs="4">
                    <MudTextField @bind-Value="searchText" Label="Tìm kiếm tác giả" />
                </MudItem>
                <MudItem xs="8">
                    <MudSelect T="int" @bind-Value="bookSale.AuthorId" Label="Tác giả">
                        <MudSelectItem Value="0">-- Chọn tác giả --</MudSelectItem>
                        @foreach (var author in authors
                        .Where(a => string.IsNullOrEmpty(searchText) || a.AuthorName.Unidecode().Contains(searchText.Unidecode(), StringComparison.OrdinalIgnoreCase)))
                        {
                            <MudSelectItem Value="@author.Id">@author.AuthorName</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12">
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Class="w-100" Variant="Variant.Filled">
                Hoàn tất
            </MudButton>
        </MudItem>

        <MudItem xs="12">
            <ValidationMessage For="@(() => bookSale.Title)" class="alert alert-danger" />
            <ValidationMessage For="@(() => bookSale.Quantity)" class="alert alert-danger" />
            <ValidationMessage For="@(() => bookSale.Price)" class="alert alert-danger" />
            <ValidationMessage For="@(() => bookSale.AuthorId)" class="alert alert-danger" />
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
            }
        </MudItem>
    </MudGrid>
</EditForm>
