@page "/change-password"
@inherits ChangePasswordBase

<h1>Đổi mật khẩu</h1>

<EditForm Model="changePasswordRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="Password" class="form-label">Mật khẩu cũ:</label>
        <InputText id="Password" class="form-control" @bind-Value="changePasswordRequest.OldPassword" Type="password" />
        <ValidationMessage For="@(() => changePasswordRequest.OldPassword)" />
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Mật khẩu mới:</label>
        <InputText id="Password" class="form-control" @bind-Value="changePasswordRequest.NewPassword" Type="password" />
        <ValidationMessage For="@(() => changePasswordRequest.NewPassword)" />
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Nhập lại mật khẩu mới:</label>
        <InputText id="Password" class="form-control" @bind-Value="changePasswordRequest.ConfirmNewPassword" Type="password" />
        <ValidationMessage For="@(() => changePasswordRequest.ConfirmNewPassword)" />
    </div>
    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-danger mt-3">@message</div>
    }
</EditForm>
