@page "/change-password"
@inherits ChangePasswordBase

<h3>Đăng Nhập</h3>

<EditForm Model="changePasswordRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="Password" class="form-label">Tên:</label>
        <InputText id="Password" class="form-control" @bind-Value="changePasswordRequest.OldPassword" Type="password" />
        <ValidationMessage For="@(() => changePasswordRequest.OldPassword)" />
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Mật khẩu:</label>
        <InputText id="Password" class="form-control" @bind-Value="changePasswordRequest.NewPassword" Type="password" />
        <ValidationMessage For="@(() => changePasswordRequest.NewPassword)" />
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Mật khẩu:</label>
        <InputText id="Password" class="form-control" @bind-Value="changePasswordRequest.ConfirmNewPassword" Type="password" />
        <ValidationMessage For="@(() => changePasswordRequest.ConfirmNewPassword)" />
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-danger mt-3">@message</div>
    }
</EditForm>
