@page "/register"
@inherits RegisterBase

<MudText Typo="Typo.h3" Class="mb-4">Đăng Ký</MudText>

<EditForm Model="registerRequest" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Tên đăng nhập"
                                  @bind-Value="registerRequest.UserName"
                                  For="@(() => registerRequest.UserName)"
                                  autocomplete="username" />
                    <MudTextField Label="Email" Class="mt-3"
                                  @bind-Value="registerRequest.Email"
                                  For="@(() => registerRequest.Email)"
                                  />
                    <MudTextField Label="Mật khẩu" Class="mt-3"
                                  @bind-Value="registerRequest.Password"
                                  For="@(() => registerRequest.Password)"
                                  InputType="InputType.Password"
                                  />
                    <MudTextField Label="Nhập lại mật khẩu" Class="mt-3"
                                  @bind-Value="registerRequest.ConfirmPassword"
                                  For="@(() => registerRequest.ConfirmPassword)"
                                  InputType="InputType.Password"
                                  />
                </MudCardContent>
                <div class="d-flex ms-5">
                    <MudRadioGroup T="int" @bind-Value="registerRequest.RoleId"
                                   Label="Vai trò" For="@(() => registerRequest.RoleId)">
                        @foreach (var role in Roles)
                        {
                            <MudRadio Value="@role.Id">@role.RoleName</MudRadio>
                        }
                    </MudRadioGroup>
                </div>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="w-100" Disabled="@isLoading">
                    @(!isLoading ? "Đăng ký" : "Đang đăng ký")
                </MudButton>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>
