@inherits ShowListBase

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <MudText Typo="Typo.h3">
        @(
            Type switch
            {
                "booksales" => "Sách",
                "authors" => "Tác giả",
                "bills" => "Hóa đơn",
                "users" => "Người dùng",
                _ => "Không xác định"
            }
            )
    </MudText>
    <div class="d-flex align-content-center">
        <div class="d-flex align-items-center me-3">
            <MudSelect @bind-Value="pageSize" Style="width: 75px;" Variant="Variant.Outlined">
                <MudSelectItem Value="5">5</MudSelectItem>
                <MudSelectItem Value="10">10</MudSelectItem>
                <MudSelectItem Value="15">15</MudSelectItem>
                <MudSelectItem Value="20">20</MudSelectItem>
            </MudSelect>
        </div>
        @if (Type != "bills")
        {
            <MudTextField @bind-Value="searchText"
                          Label="Tìm kiếm"
                          Variant="Variant.Outlined"
                          Style="width: 200px;" />
        }
    </div>
</div>

@if (items == null)
{
    <MudText><em>Loading...</em></MudText>
}
else if (!items.Any())
{
    <MudAlert>Không có dữ liệu~~</MudAlert>
}
else
{
    <table class="table table-hover mud-typography mud-typography-body1">
        <thead>
            <tr>
                <th scope="col">ID</th>
                @if (Type == "booksales")
                {
                    <th scope="col">Tên sách</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Tên tác giả</th>
                    <th scope="col">Hành động</th>
                }
                else if (Type == "authors")
                {
                    <th scope="col">Tên tác giả</th>
                    <th scope="col">Xem Sách</th>
                    <AuthorizeView Roles="Admin,Staff">
                        <th scope="col">Hành động</th>
                    </AuthorizeView>
                }
                else if (Type == "bills")
                {
                    <th scope="col">Tổng giá</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Người tạo</th>
                    <th scope="col">Chi tiết</th>
                }
                else if (Type == "users")
                {
                    <th scope="col">Tên đăng nhập</th>
                    <th scope="col">Email</th>
                    <th scope="col">Vai trò</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thay đổi vai trò</th>
                    <th scope="col">Khóa</th>

                }
            </tr>
        </thead>
        <tbody>
            @if (Type == "booksales")
            {
                foreach (BookSale sale in pagedItems)
                {
                    <tr>
                        <th scope="row">@sale.Id</th>
                        <td>@sale.Title</td>
                        <td>@sale.Quantity.ToString("n0")</td>
                        <td>@sale.Price.ToString("c0")</td>
                        <td>@sale.Author?.AuthorName</td>
                        <td>
                            <MudButton Color="Color.Success" OnClick="() => ViewItem(sale.Id)">Xem</MudButton>
                            <AuthorizeView Roles="Admin,Staff">
                                <MudButton Color="Color.Primary" OnClick="() => UpdateItem(sale.Id)">Sửa</MudButton>
                                <MudButton Color="Color.Error" OnClick="() => DeleteItem(sale.Id)">Xóa</MudButton>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            }
            else if (Type == "authors")
            {
                foreach (Author author in pagedItems)
                {
                    <tr>
                        <td>@author.Id</td>
                        <td>@author.AuthorName</td>
                        <td>
                            <MudButton Color="Color.Info" OnClick="() => ShowAllBookSalesFromAuthor(author.Id)">Xem</MudButton>
                        </td>
                        <AuthorizeView Roles="Admin,Staff">
                            <td>
                                <MudButton Color="Color.Primary" OnClick="() => UpdateItem(author.Id)">Sửa</MudButton>
                                <MudButton Color="Color.Error" OnClick="() => DeleteItem(author.Id)">Xóa</MudButton>

                            </td>
                        </AuthorizeView>
                    </tr>
                }
            }
            else if (Type == "bills")
            {
                foreach (Bill bill in pagedItems)
                {
                    <tr>
                        <th scope="row">@bill.Id</th>
                        <td>@bill.TotalPrice.ToString("c0")</td>
                        <td>@bill.DateCreated</td>
                        <td>@bill.User?.UserName</td>
                        <td>
                            <MudButton @onclick="@((e) => OpenBillDetailDialog(bill.Id))" Color="Color.Success">
                                Chi tiết
                            </MudButton>
                        </td>
                    </tr>
                }
            }
            else if (Type == "users")
            {
                foreach (User user in pagedItems)
                {
                    <tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.Role?.RoleName</td>
                        <td class="@(user.IsActive ? "" : "text-danger")">@(user.IsActive ? "Đang hoạt động" : "Bị khóa")</td>
                        <td>
                            <MudButton @onclick="@((e) => OpenChangeRoleDialog(user.Id))" Color="Color.Success">
                                Chi tiết
                            </MudButton>
                        </td>
                        <td>
                            <MudButton Color="Color.Warning" OnClick="() => SetUserStatus(user.Id, !user.IsActive)">
                                @(user.IsActive ? "Khóa" : "Mở khóa")
                            </MudButton>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <MudButton Variant="Variant.Outlined" @onclick="PreviousPage" Disabled="@(currentPage == 1)">Prev</MudButton>
        <MudText Typo="Typo.body1" Class="mx-2">Page @currentPage of @((totalItems + pageSize - 1) / pageSize)</MudText>
        <MudButton Variant="Variant.Outlined" @onclick="NextPage" Disabled="@(currentPage >= (totalItems + pageSize - 1) / pageSize)">Next</MudButton>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-1">
        <MudText Class="me-2 mb-1">Đi đến trang:</MudText>
        <MudInput Type="number" id="pageNumber" Min="1" Max="@((totalItems + pageSize - 1) / pageSize)" @bind-Value="currentPage" Style="width: 40px;" />
    </div>

}
